.switch-enter-active {
  animation: switch-in 1s;
}

.switch-leave-active {
  animation: switch-out 0.6s;
}
@keyframes switch-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes switch-out {
  0% {
    transform: translateY(0px);
    opacity: 0.2;
  }

  100% {
    transform: translateY(150px);
    opacity: 0;
  }
}

#app {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  // background-color: black;
  & * {
    // transition: all 1s;
    box-sizing: border-box;
  }

  #header {
    position: absolute;
    // border: 1px solid red;
    width: 100%;
    height: 81px;
    left: 0;
    top: 0;
    z-index: 100;
    background: url("../../assets/aboutES/head.png") no-repeat;

    #title {
      position: absolute;
      top: 10px;
      width: 100%;
      color: white;
      font-size: 34px;
      font-weight: 900;
      text-align: center;
      letter-spacing: 6px;
    }

    #today {
      position: absolute;
      left: 390px;
      top: 18px;
      width: 400px;
      height: 40px;
      color: white;
      font-size: 18px;
      font-weight: 400;
      // border: 1px solid red;
    }
  }

  #emergency-info {
    position: absolute;
    left: 0;
    top: 130px;
    // border: 1px solid red;
    width: 100%;
    height: 102px;
    z-index: 100;
    display: flex;
    justify-content: center;

    & > div {
      position: relative;
      // border: 1px solid red;
      width: 320px;
      height: 100%;

      .title {
        position: absolute;
        left: 110px;
        top: 12px;
        color: #22d5a1;
        font-size: 24px;
        // font-weight: 400;
      }

      .value {
        position: absolute;
        left: 108px;
        bottom: 8px;
        width: 100px;
        height: 50px;
        color: white;
        font-size: 32px;
        font-weight: 400;
        text-align: center;
        // border: 1px solid red;
      }
    }

    #unit {
      background: url("../../assets/aboutES/unit.png") no-repeat;
    }

    #person {
      background: url("../../assets/aboutES/person.png") no-repeat;
    }

    #machine {
      background: url("../../assets/aboutES/machine.png") no-repeat;
    }

    #team {
      background: url("../../assets/aboutES/team.png") no-repeat;
    }
  }

  #map {
    position: absolute;
    width: 1920px;
    height: 1080px;
  }

  #mini-map {
    position: absolute;
    right: 69px;
    bottom: 66px;
    width: 168px;
    height: 168px;
    border-radius: 84px; // border: 1px solid yellow;
    z-index: 100;
  }

  #mini-map-ring {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 223px;
    height: 257px;
    // border-radius: 150px;
    // border: 1px solid yellow;
    background: url("../../assets/aboutES/mini-map-ring.png") no-repeat;
    z-index: 50;
  }

  #chart1 {
    position: absolute;
    left: 40px;
    top: 300px;
    width: 429px;
    height: 340px;
    z-index: 100;
    background: url("../../assets/aboutES/chart.png") no-repeat!important;
  }

  #chart2 {
    position: absolute;
    left: 40px;
    top: 700px;
    width: 429px;
    height: 340px;
    z-index: 100;
    background: url("../../assets/aboutES/chart.png") no-repeat!important;
  }

  .blue-circle,
  .yellow-circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }

  .yellow-circle {
    background-color: #f4ad29;
    border: 1px solid #f8f5eb;
    box-shadow: 0 0 20px 6px #e8c87a;
  }

  .blue-circle {
    background-color: #21c1fc;
    border: 1px solid #f8f5eb;
    box-shadow: 0 0 20px 6px #39b7db;
  }

  #legend {
    position: absolute;
    right: 80px;
    top: 620px;
    width: 172px;
    height: 149px;
    // border: 1px solid red;
    z-index: 100;
    background: url("../../assets/aboutES/legend.png") no-repeat;

    #first,
    #second {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100px;
      // border: 1px solid white;
      .icon {
        position: absolute;
        left: 18px;
        top: 54px;
        line-height: 100px;
        // border: 1px solid white;
      }

      .title {
        position: absolute;
        left: 50px;
        top: 14px;
        line-height: 100px;
        color: #24dcb7;
        font-size: 14px;
        font-weight: 300;
      }
    }

    #first {
      top: 0;
    }

    #second {
      top: 50px;
    }
  }

  .minemap-popup-content {
    background: none;
    pointer-events: none;
  }

  .minemap-popup-tip {
    border-top-color: rgba(255, 255, 255, 0.64);
  }

  #point-info-template {
    display: none;
  }

  #point-info-active,
  #point-info-template {
    pointer-events: none;
    border-radius: 6px;
    position: absolute;
    // left: 500px;
    // top: 200px;
    left: -186px;
    top: -175px;
    width: 400px;
    height: 200px;
    z-index: 100;
    // background-color: rgba(255, 255, 255, 0.6);
    background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
    color: #152338;
    // border: 1px solid red;
    // .triangle-down {
    //   position: absolute;
    //   left: 190px;
    //   bottom: -16px;
    //   width: 0;
    //   height: 0;
    //   border-left: 10px solid transparent;
    //   border-right: 10px solid transparent;
    //   border-top: 16px solid red;
    // }
    .title {
      position: absolute;
      top: 10px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      // border: 1px solid red;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      // letter-spacing: 0px;
    }

    .sub-title {
      position: absolute;
      top: 34px;
      width: 100%;
      height: 30px;
      line-height: 30px;
      // border: 1px solid red;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
    }

    .line {
      position: absolute;
      left: 0.5%;
      top: 70px;
      width: 99%;
      height: 1px;
      background-color: black;
    }

    .body {
      position: absolute;
      // padding: 10px;
      // left: 1%;
      top: 73px;
      width: 100%;
      height: 125px;
      // line-height: 30px;
      // text-align: center;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      // letter-spacing: 0px;
      & > * {
        position: relative;
        width: 100%;
        height: 20%;
        line-height: 25px;

        & > * {
          position: absolute;
          height: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .col1 {
          left: 0;
          width: 90px;
        }

        .col2 {
          left: 90px;
          width: 90px;
        }

        .col3 {
          left: 180px;
          width: 120px;
        }

        .col4 {
          left: 300px;
          width: 100px;
        }
      }

      & > :nth-child(2),
      & > :nth-child(4) {
        background: #7edfca;
      }
    }
  }

  #table1 {
    bottom: 620px;
  }

  #table2 {
    bottom: 320px;
  }

  #table1,
  #table2 {
    // pointer-events: none;
    position: absolute;
    left: 50px;
    width: 429px;
    height: 300px;
    z-index: 100;
    color: white;
    // border: 1px solid red;
    background: url("../../assets/aboutES/chart.png") no-repeat;

    & > .title {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 26px;
      height: 112px;
      line-height: 28px;
      color: white;
      font-size: 24px;
      // border: 1px solid red;
    }

    & > .header {
      position: absolute;
      top: 36px;
      left: 42px;
      width: 387px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #5fb9fc;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      // letter-spacing: 0px;
      .col1 {
        position: absolute;
        left: 10px;
        width: 250px;
      }

      .col2 {
        position: absolute;
        left: 260px;
        width: 100px;
      }
    }

    & > .body {
      // border: 1px solid red;
      position: absolute;
      top: 90px;
      left: 42px;
      width: 387px;
      height: 200px;
      // line-height: 30px;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      overflow: hidden;
      // letter-spacing: 0px;
      & > .item {
        position: relative;
        // border: 1px solid white;
        width: 100%;
        height: 33px;
        line-height: 33px;

        .col1,
        .col2 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .col1 {
          position: absolute;
          left: 10px;
          width: 250px;
        }

        .col2 {
          position: absolute;
          left: 260px;
          width: 100px;
        }
      }
    }
  }

  #table3 {
    // pointer-events: none;
    position: absolute;
    left: 50px;
    bottom: 20px;
    width: 429px;
    height: 300px;
    z-index: 100;
    color: white;
    // border: 1px solid red;
    background: url("../../assets/aboutES/chart.png") no-repeat;

    & > .title {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 26px;
      height: 112px;
      line-height: 28px;
      color: white;
      font-size: 24px;
      // border: 1px solid red;
    }

    & > .header {
      position: absolute;
      top: 36px;
      left: 42px;
      width: 387px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #5fb9fc;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      // letter-spacing: 0px;
      .col1 {
        position: absolute;
        left: 10px;
        width: 150px;
      }

      .col2 {
        position: absolute;
        left: 160px;
        width: 100px;
      }

      .col3 {
        position: absolute;
        left: 260px;
        width: 100px;
      }
    }

    & > .body {
      // border: 1px solid red;
      position: absolute;
      top: 90px;
      left: 42px;
      width: 387px;
      height: 200px;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      overflow: hidden;
      // letter-spacing: 0px;
      & > .item {
        position: relative;
        // border: 1px solid white;
        width: 100%;
        height: 33px;
        line-height: 33px;

        .col1,
        .col2,
        .col3 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .col1 {
          position: absolute;
          left: 10px;
          width: 150px;
        }

        .col2 {
          position: absolute;
          left: 160px;
          width: 100px;
        }

        .col3 {
          position: absolute;
          left: 260px;
          width: 100px;
        }
      }
    }
  }
}
// #mapbar {
//   width: 100%;
//   height: calc(100% - 62px);
//   position: relative;
//   z-index: 0;
// }
//
// #headBar {
//   width: 100%;
//   height: 58px;
//   background-image: linear-gradient(to bottom,#033357,#021c35);
//   position: relative;
//   z-index: 100;
// }
//
// #sideMenu {
//   width: 488px;
//   height: 100%;
//   position: absolute;
//   left: 0;
//   top: 0;
//   border-right: 2px solid #025D84;
//   //background-color:rgba(0,57,100,1);
//   background-color: rgb(0, 39, 78);
//   z-index: 10;
//   padding: 10px;
// }
//
// #sideMenu .menuTitle {
//   color: #03bbff;
//   height: 36px;
//   border-left: 10px solid #03bbff;
//   font-size: 24px;
//   padding: 2px 10px;
// }
//
// #esDetail {
//   width: 500px;
//   height: calc(100% - 58px);
//   background-color: rgba(0, 36, 65, 0.9);
//   position: absolute;
//   right: 0;
//   top: 58px;
//   z-index: 12;
//   opacity: 1;
//   border: 1px solid #025D84;
//   border-top: none;
//   border-bottom: none;
//   padding: 2px;
//   transition: all linear 0.2s;
//   color: #fff;
// }
//
// #esDetail.hide {
//   opacity: 0;
//   right: -510px;
// }
//
// #esDetail .head {
//   background-size: 100% 100%;
// }
//
// #esDetail .esDTitle {
//   height: 75px;
//   line-height: 40px;
//   padding: 2px;
//   text-align: center;
// }
//
// #esDetail .thinTitle {
//   height: 40px;
//   width: 100%;
//   line-height: 40px;
//   background-size: 100% 100%;
//   text-align: center;
// }
//
// .blueTitle {
//   color: #03bbff;
//   height: 26px;
//   border-left: 8px solid #03bbff;
//   font-size: 18px;
//   font-weight: bold;
//   padding: 2px 10px;
//   margin: 10px 0;
//   letter-spacing: 4px;
// }
